ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(163, 165, 166);
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
    
    
}
li a{
text-decoration: none;
display: block;
color: white;
padding: 12px 14px;
font-weight: bold;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li a:hover{
    background-color: black;
}
.content{
    
    margin-left: 25%;
    padding: 2px 6px;
    height: 1000px;
    
   
    font-size: 20px;
}
li a:hover:not(){
    background-color: black;
}
li a.active{
    background-color: rgb(87, 173, 176);
}


@media screen and (max-width:900px) {
    ul{
        width: 100%;
        height: auto;
        position: relative;
        
    }
    li a{
        float:left ;
        border: 1px solid wheat;
        
    }
    .content{
        margin-left: 0px;
        padding-top: 8px;
        text-align: center;
        
    }
}
@media screen and (max-width:600px) {
    ul{
        width: 100%;
        height: auto;
    
        
    }
    li a{
        text-align: center;
    float: none;
    }
    .content{
       padding: 0px 8px;
    }
    
}

ul img{
    float: left;
}
